/*
* Author: Alexey Sholohov
* Tools: LESS
*/

@import 'property_helper';

@bgColor: white; // цввет фона страницы
@color: black; // цвет текста
@colorSteel: #699FE9;
@blueBtn: #00C6FF;
@greenBtn: #67E83F;
@violetBtn: #E773F0;
.colorMix(@val: 100%) { color: mix(@color, @bgColor, @val); } // смешивает глобальные цвета: текст и фон

@rem: 0.0625rem;
@em: 0.0625em;

html {
	font-size: 1rem;
	body {
		margin: 0;
		padding: 0;
		overflow-wrap: break-word;
		font-size: 1em;
		color: @color;
		background-color: @bgColor;
//		* {	outline: 1px solid rgba(255,100,0,0.5);}
	}
}
main {
	display: block;
	overflow: hidden;
	.reference {
		margin: 2rem 0 0;
		img {
			display: block;
			max-width: 100%; 
		}
	}
	.panel {
		padding: 0.5rem;
		.flex-block();
		.justify-content(center);
		.align-items(center);
		perspective: 50rem;
		perspective-origin: 50% 100%;
		background-color: @bgColor;
		.elem {
			display: block;
			position: relative;
			height: 7rem;
			margin: 0.25rem;
			border: 1px solid Black;
			transform-style: preserve-3d;
			.transform(rotateX(36deg));
			.linear-gradient-left(desaturate(darken(@colorSteel, 20%),60%), rgba(0,0,0,0.3),10%, rgba(255,255,255,0.1),30%, rgba(255,255,255,0.1),70%, rgba(0,0,0,0.3),90%);
			.border-radius(1rem);
			.box-sizing(border-box);
			&:before,
			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				.border-radius(1rem);
			}
			&:after {
				.border-radius(1rem);
				.translate3d(0, 0, 18*@rem);
				.gradient(black, desaturate(@colorSteel, 50%), lighten(@colorSteel, 50%));
				.inner-shadow(0 1*@rem 0 1*@rem rgba(0,0,0,0.7));
				.inner-shadow(0 -2*@rem 2*@rem rgba(0,0,0,0.4));
			}
			&:before {
				top: 0.75rem; left: 0.75rem; right: 0.75rem; bottom: 0.75rem;
				border: 0.5rem solid black;
				.border-radius(0.75rem);
				.translate3d(0, 0, 19*@rem);
				.inner-shadow(0 6*@rem 3*@rem -2*@rem #54A1E2);
				.box-shadow(0 -3*@rem 6*@rem rgba(255,255,255,0.3));
				.box-shadow(0 3*@rem 6*@rem rgba(0,0,0,0.3));
				.gradient(transparent, rgba(0,0,0,0.8), rgba(0,0,0,0.9));
			}
			.button {
				display: block;
				transform-style: preserve-3d;
				position: absolute;
				top: 13*@rem; left: 13*@rem; right: 13*@rem; bottom: 13*@rem;
				.pref(transition, all 0.2s ease);
				&:before {
					display: block;
					position: absolute;
					font-family: Arial;
					font-weight: bold;
					text-align: center;
					.text-shadow(0 2*@rem 0.25rem #fff);
					.text-shadow(0 -2*@rem 0.25rem #fff);
					.text-shadow(2*@rem 0 0.25rem #fff);
					.text-shadow(-2*@rem 0 0.25rem #fff);
					.inner-shadow(0 0 0.25rem white);
				}
			}
			&.one,
			&.three {
				text-align: center;
				&:before {
					font-family: Arial;
					padding: 8*@rem;
					content:'TEXT TEXT\
					TEXT';
					white-space: pre-wrap;
					font-size: 1.5rem;
					font-weight: bold;
					color: #0ff;
					.text-shadow(0 0 0.5rem rgba(255,255,255,0.5));
				}		
				&:first-line {
					padding-bottom: 1rem;
					font-family: Times;
					font-size: 1rem;
					font-weight: bold;
					color: white;
				}
			}
			&.one {
				width: 17rem;
				.button {
					width: 3rem;
					background-color: @violetBtn - #765;
//					background-image: -webkit-linear-gradient(0deg, multiply(@violetBtn, #779, 50%) 10%, lighten(@violetBtn,10%) 20%, multiply(@violetBtn, #779, 50%) 30%, lighten(@violetBtn,30%) 60%, multiply(@violetBtn, #779, 50%) 85%);
					.border-radius(0.75rem);
					.translate3d(0, 0, 20*@rem);
					.pref(clip-path, polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%));
					&:nth-child(1) {
						right: auto;
					}
					&:nth-child(2) {
						left: auto;
					}
					&:before {
						content:'X';
						display: block;
						position: absolute;
						line-height: 5rem;
						top: 0; left: 0; right: 0; bottom: 0;
						font-size: 40*@rem;
						color: darken(@violetBtn, 50%);
						.linear-gradient-top(@violetBtn, @violetBtn,0%, @violetBtn - #432,50%, @violetBtn,100%);
						.translate3d(0, 0, 15*@rem);
						.pref(clip-path, polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%));
					}
				}
			}
			&.two {
				width: 4.75rem;
				.button {
					background-color: @blueBtn - #765;
//					background-image: -webkit-linear-gradient(0deg, multiply(@blueBtn, #779, 50%) 10%, lighten(@blueBtn,10%) 20%, multiply(@blueBtn, #779, 50%) 30%, lighten(@blueBtn,30%) 60%, multiply(@blueBtn, #779, 50%) 85%);
					.border-radius(0.75rem);
					.translate3d(0, 0, 20*@rem);
						.pref(clip-path, polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%));
					&:before {
						content:'X';
						display: block;
						position: absolute;
						line-height: 5rem;
						top: 0; left: 0; right: 0; bottom: 0;
						font-size: 40*@rem;
						color: darken(@blueBtn, 35%);
						.linear-gradient-top(@blueBtn, @blueBtn,0%, @blueBtn - #654,50%, @blueBtn,100%);
						.translate3d(0, 0, 15*@rem);
						.pref(clip-path, polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%));
					}
				}
			}
			&.three {
				width: 17rem;
				&:before {
					color: #ff0;
				}
			}
			&.four {
				width: 8.5rem;
				.button {
					background-color: @greenBtn - #765;;
//					background-image: -webkit-linear-gradient(-30deg, multiply(@greenBtn, #779, 50%) 10%, lighten(@greenBtn,10%) 20%, multiply(@greenBtn, #779, 50%) 30%, lighten(@greenBtn,30%) 60%, multiply(@greenBtn, #779, 50%) 85%);
					.border-radius(9*@rem);
					.translate3d(0, 0, 20*@rem);
					&:before {
						content:'TEXT\
						TEXT';
						white-space: pre-wrap;
						display: block;
						position: absolute;
						padding: 0.75rem 0;
						top: 0; left: 0; right: 0; bottom: 0;
						font-size: 26*@rem;
						color: darken(@greenBtn, 40%);
						.gradient(mix(@greenBtn, #41C700, 70%), rgba(255,255,255,0.5), rgba(0,10,50,0.2));
						.border-radius(9*@rem);
						.translate3d(0, 0, 20*@rem);
					}
				}
			}
			&.five {
				width: 10rem;
				height: 10rem;
				margin-left: 0.5rem;
				.border-radius(50%);
				.linear-gradient-left(desaturate(darken(@colorSteel, 20%),60%), rgba(255,255,255,0.3),10%, rgba(0,0,0,0.3),70%, transparent,85%, rgba(255,255,255,0.3),90%);
				&:before {
					.border-radius(50%);
					.box-shadow(0 0 0.5rem black);
					background-image: -webkit-linear-gradient(-30deg, multiply(@blueBtn, #779, 50%) 10%, lighten(@blueBtn,10%) 20%, multiply(@blueBtn, #779, 50%) 30%, lighten(@blueBtn,30%) 60%, multiply(@blueBtn, #779, 50%) 85%);
				}
				&:after {
					.border-radius(50%);
					.inner-shadow(0 1*@rem 0 1*@rem rgba(0,0,0,0.7));
					.inner-shadow(0 -5*@rem 5*@rem rgba(0,0,0,0.3));
				}
				.button {
					background-color: @blueBtn;
					background-image: -webkit-linear-gradient(-30deg, multiply(@blueBtn, #779, 50%) 10%, lighten(@blueBtn,10%) 20%, multiply(@blueBtn, #779, 50%) 30%, lighten(@blueBtn,30%) 60%, multiply(@blueBtn, #779, 50%) 85%);
					.border-radius(50%);
					.translate3d(0, 0, 20*@rem);
					&:before {
						content:'TEXT';
						top: 6*@rem; left: 4*@rem; right: 8*@rem; bottom: 6*@rem;
						font-size: 2.25rem;
						line-height: 7.5rem;
						color: darken(@blueBtn, 35%);
						.gradient(mix(@blueBtn, #09f, 70%), rgba(255,255,255,0.5), rgba(0,10,50,0.2));
						.border-radius(50%);
						.translate3d(0, 0, 20*@rem);
					}
				}
			}
			.button {
				&:before {
					background-color: rgba(0,0,0,0.5);
				}
				&:active {
					.translate3d(0, 0, 4*@rem);
				}
			}
		}
	}
}
