<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="display/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Панель кнопок</title>
	<link rel="stylesheet" href="css/style.css">
	<script defer src="js/script.js"></script>
</head>

<body>
	<main>
		<h1 class="title">3D buttons panel only CSS3</h1>

		<div class="reference" hidden>
			<h2 class="title">Reference</h2>
			<figure class="image" style="background-image: url(img/reference.png)"></figure>
		</div>

		<div class="implementation">

			<div id="panel">
				<div class="elem one">
					<button class="btn">
						<div class="side top"><span>X</span></div>
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</button>

					<div class="display">
						<p class="text">Text Text</p>
						<p class="text">Text</p>
					</div>

					<button class="btn">
						<div class="side top"><span>X</span></div>
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</button>

					<div class="faces cube">
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</div>
				</div>

				<div class="elem two">
					<button class="btn">
						<div class="side top"><span>X</span></div>
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</button>

					<div class="faces">
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</div>
				</div>

				<div class="elem three">
					<div class="display">
						<p class="text">Text Text</p>
						<p class="text">Text</p>
					</div>

					<div class="faces">
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</div>
				</div>

				<div class="elem four">
					<button class="btn">
						<div class="side top"><span>Text Text</span></div>
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</button>

					<div class="faces">
						<div class="side front"></div>
						<div class="side back"></div>
						<div class="side left"></div>
						<div class="side right"></div>
						<div class="side bottom"></div>
					</div>
				</div>

				<div class="elem five">
					<button class="btn">
						<div class="side top"><span>Text</span></div>
						<div class="side bottom"></div>
						
						<div class="shape cylinder">
							<div class="side s-0"></div>
							<div class="side s-1"></div>
							<div class="side s-2"></div>
							<div class="side s-3"></div>
							<div class="side s-4"></div>
							<div class="side s-5"></div>
							<div class="side s-6"></div>
							<div class="side s-7"></div>
							<div class="side s-8"></div>
							<div class="side s-9"></div>
							<div class="side s-10"></div>
							<div class="side s-11"></div>
							<div class="side s-12"></div>
							<div class="side s-13"></div>
							<div class="side s-14"></div>
							<div class="side s-15"></div>
							<div class="side s-16"></div>
							<div class="side s-17"></div>
							<div class="side s-18"></div>
							<div class="side s-19"></div>
							<div class="side s-20"></div>
							<div class="side s-21"></div>
							<div class="side s-22"></div>
							<div class="side s-23"></div>
						</div>
					</button>

					<div class="shape cylinder">
						<div class="side s-0"></div>
						<div class="side s-1"></div>
						<div class="side s-2"></div>
						<div class="side s-3"></div>
						<div class="side s-4"></div>
						<div class="side s-5"></div>
						<div class="side s-6"></div>
						<div class="side s-7"></div>
						<div class="side s-8"></div>
						<div class="side s-9"></div>
						<div class="side s-10"></div>
						<div class="side s-11"></div>
						<div class="side s-12"></div>
						<div class="side s-13"></div>
						<div class="side s-14"></div>
						<div class="side s-15"></div>
						<div class="side s-16"></div>
						<div class="side s-17"></div>
						<div class="side s-18"></div>
						<div class="side s-19"></div>
						<div class="side s-20"></div>
						<div class="side s-21"></div>
						<div class="side s-22"></div>
						<div class="side s-23"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="rotation_tuning">
			<h2 class="title">Rotate panel</h2>

			<p class="range x">
				<span class="axis">X</span> <span class="wrapper"><input id="panel_rotate_x" step="1" type="range" value="30" min="-180" max="180"></span>
			</p>

			<p class="range y">
				<span class="axis">Y</span> <span class="wrapper"><input id="panel_rotate_y" step="1" type="range" value="0" min="-180" max="180"></span>
			</p>
		</div>
	</main>

	<footer id="footer"><small>&copy; Copyright 2018, Alexey Sholokhov</small></footer>
</body>

</html>